.form-ten {
  overflow: hidden;

  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;
    padding: 50px 20px;
    max-width: 800px;
    margin: 0 auto;
  }

  &-box {
    border-radius: 24px;
    width: 100%;
    max-width: 800px;
    padding: 20px 24px;

    @media (max-width: 1024px) {
      padding: 20px 16px;
    }
  }
}

.available-services {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.service-tag {
  background: transparent;
  padding: 14px 24px;
  border-radius: 24px;

  transition:
    background-color 0.3s,
    border-color 0.3s;

  &.selected {
    background: linear-gradient(266.66deg, #5cb170 -7.81%, #d6de6d 118.14%);
  }

  &:hover {
    background: #c3c3c3;
    background-blend-mode: luminosity;
  }
}

.custom-service-input:focus {
  outline: none !important;
  background: none;
  
}

.custom-service-input:hover {
  background-color: initial;
  box-shadow: none;
}


