.preferences {
  margin: 0 auto 80px auto;
  padding-left: 16px;

  @media (max-width: 1024px) {
    padding-left: 0px;
  }

  .title {
    margin-bottom: 40px;

    h2 {
      color: #000b19;
      font-size: 28px;
      font-weight: 600;
      line-height: 38px;
    }
  }

  .preferenceList {
    width: 844px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 1024px) {
      width: 100%;
      gap: 0px;
    }
  }

  .preferenceItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #dbecf0;

    @media (max-width: 1024px) {
      padding: 20px 0px;
    }

    .info {
      display: flex;
      flex-direction: column;

      .label {
        font-size: 14px;
        color: #878e97;
        font-weight: 400;
        line-height: 17px;
      }

      .value {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 5px;
        color: #000b19;
        line-height: 20px;
      }
    }

    .actions {
      .editButton {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 6px 12px;
        font-size: 16px;
        font-weight: 500;
        color: #000b19;
        background: none;
        border: none;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: #000;
        }
      }
    }
  }
}