.customers {
    padding: 24px 40px;
    @media (max-width: 1024px) {
        padding: 24px 16px;
    }
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .title {
        font-size: 20px;
        color: #000b19;
        font-weight: 600;
        line-height: 27px;
    }

    .button-group {
        display: flex;
        gap: 12px;
        align-items: center;

        .filter-search-wrapper {
            display: flex;
            align-items: center;
            gap: 8px;

            .search-field-cusotmers {
                display: flex;
                align-items: center;
                position: relative;
                border-radius: 6px;
                overflow: hidden;
                border: 1px solid #E3E5E8;
                padding: 0px 14px;


                .search-input-cusotmers {
                    height: 37px;
                    border-radius: 6px;

                    input {
                        width: 56px;
                        height: 100%;
                        padding: 0px 4px 0px 4px;
                        text-align: left;
                        border: none;
                        outline: none;


                        &::placeholder {
                            color: #000b19;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            text-align: left;
                        }

                        &:focus {
                            color: #000; // Text color when focused
                            background-color: #fff; // Background color on focus
                        }
                    }
                }

                .search-btn {
                    
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    border: none;
                    cursor: pointer;
                }
            }

            .button-wrapper-1 {
                padding: 10px 14px;
                display: flex;
                border: 1px solid #E3E5E8;
                gap: 4px;
                align-items: center;
                border-radius: 6px;
                background-color: #ffffff;

                .button-text {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    color: #000b19;
                }
            }
        }

        .divider {
            height: 18px;
            border: 1px solid #dbecf0;
        }


    }
}

.new-bookings {
    margin-top: 31px;
    border-top: 1px solid #DBECF0;
    border-left: 1px solid #DBECF0;
    border-right: 1px solid #DBECF0;
    border-radius: 16px;

    .title {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 16px 20px 16px 20px;
        border-bottom: 1px solid #DBECF0;
        border-start-end-radius: 16px;
        border-start-start-radius: 16px;
        background-color: white;


        .amount {
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #DBECF0;
            border-radius: 100px;
            font-size: 12px;

        }

        p {
            font-weight: 600;
        }

    }

    .booking-titles {
        display: grid;
        grid-template-columns: 101px minmax(160px, 1fr) minmax(160px, 1fr) minmax(160px, 1fr) 61px;
        grid-template-rows: 61px;
        font-size: 14px;

        @media (max-width: 1024px) {
            overflow-x: auto;
        }


        .booking-row {
            display: contents;
        }

        .info-name {
            flex: 1;
            display: flex;
            align-items: center;
            padding: 16px 20px;
            gap: 4px;
            color: #878E97;
            font-size: 14px;
            border-bottom: 1px solid #DBECF0;
            border-right: 1px solid #DBECF0;

            p {
                text-wrap: nowrap;
            }
        }

        .item {
            display: flex;
            align-items: center;
            padding: 16px 20px;
            border-bottom: 1px solid #DBECF0;
            border-right: 1px solid #DBECF0;
            background-color: white;
        }

        .order-id.last {
            border-end-start-radius: 16px;
        }

        .customer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 6px;

            .customer-info {
                display: flex;
                align-items: center;
                gap: 8px;


                p {
                    text-wrap: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 16px;
                    padding-bottom: 2px;


                }

            }

        }

        .chosen-service {
            p {
                text-wrap: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-bottom: 2px;
            }
        }

        .status {
            div {
                display: flex;
                align-items: center;
                gap: 6px;
                border-radius: 20px;
                padding: 8px 12px;

            }

            .accepted {
                border: 1px solid #ABCF6F;
                color: #ABCF6F;
            }

            .pending {
                border: 1px solid #878E97;
                color: #878E97;
            }

            .canceled {
                border: 1px solid #D56C6C;
                color: #D56C6C;
            }
        }


        .details.last {
            border-bottom-right-radius: 16px;
        }
    }

    .details-customer {
        border-bottom: 1px solid #DBECF0;
        position: relative;

        img {
            cursor: pointer;
        }
    }

    .details-customer-block {
        display: none;
        width: 142px;
        position: absolute;
        filter: drop-shadow(0 0 0 transparent);
        bottom: -100%;
        left: 0;
        transform: translate(-75%, 8px);
        padding: 14px 16px;
        background-color: #3C3F3A;
        border-radius: 16px;
        color: white;
        z-index: 30;

        @media (max-width: 1024px) {
            top: 50%;
            bottom: auto;
            transform: translate(-80%, 10%);
        }

        .details-options {
            display: flex;
            flex-direction: column;
            gap: 14px;

            button {
                display: flex;
                align-items: center;
                gap: 8px;
                text-wrap: nowrap;

                @media (max-width: 1024px) {
                    font-size: 14px;
                }

            }
        }

    
    }

    .details-customer-block.active {
        display: block;
    }

    
}

.succes-customer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    bottom: 42px;
    font-size: 16px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 16px;
    border-radius: 12px;
    background: #5CB170;
    color: white;

    @media (max-width: 1024px) {
        width: 90% !important;
    }

    
}