.availability {
  background-color: #fff;
  padding: 24px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 40px;

  @media (max-width: 1024px) {
    margin: 20px 16px 96px 16px !important;
    
  }

  &__field {
    background-color: #fff;
    padding: 16px;
    border-radius: 1px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DBECF0;

    // Apply border-bottom only to all items except the last one
    &:not(:last-child) {
      border-bottom: 1px solid #dbecf0;
    }
  }

  .availability_text {
    display: block;
  }

  &__label {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.18px;
    color: #000b19;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.78px;
    color: #878e97;
    margin-top: 4px;
  }

  &__time-select {
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
    width: 180px;
    height: 49px;
  }
  &__select {
    width: 143px;
  }

  .select-wrapper {
    position: relative;
    width: 100%;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 43px;
      background: url('/images/icons/ChevronDown.svg') center no-repeat;
      background-size: 16px;
      pointer-events: none;
      border: 1px solid #dbecf0;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  &__select {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.78px;
    width: 100%;
    color: #000b19;
    border: 1px solid #dbecf0;
    border-radius: 12px;
    padding: 16px;
    background-color: #fff;
    cursor: pointer;
    height: 60px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 50px;

    &:focus {
      outline: none;
    }

    option {
      padding: 10px;
      font-size: 14px;
    }

    &::-ms-expand {
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  &__input {
    display: none;
  }

  select.availability__select {
    option {
      direction: ltr;
      position: relative;
    }
  }

  .select-wrapper select {
    transform-origin: top;
    transform: none !important;
  }
}
